@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

  /* Estilos generales */

  html {
    scroll-behavior: smooth;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
  }

  h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }

  h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }

  h4{
    font-size: 20px;
    color: #222;
  }

  h6{
    font-weight: 700;
    font-size: 12px;
  }

  p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }

  .section-p1{
    padding: 40px 80px;
  }

  body{
    width: 100%;
  }

  /* Estilos en el Header y navbar */

  .header-navegation{
    display: flex;
    align-items: center;
  }

  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E7EAF0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }


  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  }

  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  }

    #navbar li a:hover{
    color: #284184;
  }

  #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #284184;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  .header-cart-avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
  }

  .header-cart {
    position: relative;
  }

  .header-cart--notification {
    display: none;
    background-color: #284184;
    width: 15px;
    height: 12px;
    border-radius: 16px;
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 0.6em;
    text-align: center;
    color: hsl(0deg, 0%, 100%);
  }

  .header-cart:hover {
    cursor: pointer;
  }

  .header-acount-avatar {
    width: 24px;
  }

  .header-acount-avatar:hover {
    cursor: pointer;
    border: 2px solid #284184;
    border-radius: 50%;
  }

    /*Estilo en el modal navbar*/   
  
    #navbar-modal{
      display: none;
      align-items: center;
    }

    #close{
        display: none;
    }

    .profile-page{
        display: none;
    }

    /*Estilo en el cart modal*/
    .cart{
      position: fixed;
      top: 0;
      right: -100%;
      width: 360px;
      min-height: 100vh;
      padding: 20px;
      background-color:#FFFFFF ;
      box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
      transition: 0.3s ease;
    }

    .cart.active{
      right: 0;
    }

    .cart-title{
     text-align: center; 
     font: 1.5rem;
     font-weight: 600;
     margin-top: 2rem;
    }

    .cart-box{
      display: grid;
      grid-template-columns: 32% 50% 18%;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
    }

    .cart-img{
      width: 100px;
      height: 100px;
      object-fit: contain;
      padding: 10px;
    }

    .cart-product-title{
      font-size: 1rem;
      text-transform: uppercase;
    }

    .cart-price{
      font-weight: 500;
    }

    .cart-quantity{
      border: 1px solid #222;
      outline-color: #222;
      width: 2.4rem;
      height: 2.5rem;
      text-align: center;
      font-size: 1rem;
      border-radius: 10px;
    }

    .cart-remove{
      font-size: 24px;
      color: #000;
      cursor: pointer;
    }

    .total{
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
      border-top: 1px solid #222;
    }

    .total-title{
      font-size: 1rem;
      font-weight: 600;
    }

    .total-price{
      margin-left: 0.5rem;
    }

    .btn-buy,
    .btn-empty{
      display: flex;
      margin: 1.5rem auto 0 auto;
      padding: 12px 20px;
      border: none;
      background-color: #041e42 ;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
    }

    .btn-buy:hover{
      opacity: 0.5;
    }

    #close-cart{
      position: absolute;
      top: 1rem;
      right: 0.8rem;
      font-size: 2rem;
      color: #000;
      cursor: pointer;
    }

    .details__product-quantity {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      gap: 32px;
    }

  
  .input {
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(223deg, 64%, 98%);
  }
  .input__minus {
    width: 25px;
    height: 100%;
    padding: 24px 5px;
  }
  .input__minus:hover {
    cursor: pointer;
  }
  .input__number {
    width: 100%;
    border: none;
    background-color: hsl(223deg, 64%, 98%);
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    outline: none;
  }
  .input__plus {
    width: 25px;
    height: 100%;
    padding: 19px 3px;
  }
  .input__plus:hover {
    cursor: pointer;
  }
  
  .cart-subtotal{
    display: grid;
  }

    /*Estilos en el Hero */

  #hero{
    background-image: url("./images/hero.jpg");
      height: 90vh;
      width: 100%;
      background-size: cover;
      background-position: top 25% right 0;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    #hero h1{
      color: #284184;
    }

    #hero button{
      background-image: url("./images/button.png") ;
      background-color: transparent;
      color: #284184;
      border: 0;
      padding: 14px 80px 14px 65px;
      background-repeat: no-repeat;
      cursor: pointer;
      font-weight: 700;
      font-size: 15px;
    }

    /*Estilo en las caracteristicas*/

    #feature{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .feature-box{
      width: 180px;
      text-align: center;
      padding: 25px 15px;
      box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
      border: 1px solid #cce7d0;
      border-radius: 4px;
      margin: 15px 0;
    }

    .feature-box img{
      width: 100%;
      margin-bottom: 10px;

    }

    .feature-box:hover{
      box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    }

    .feature-box h6{
      display: inline-block;
      padding: 9px 8px 6px 8px;
      line-height: 1;
      border-radius: 4px;
      color: #284184;
      background-color: #DB85B7;
    }

    .feature-box:nth-child(2) h6{
      background-color: #B8DD7F;
    }

    .feature-box:nth-child(3) h6{
      background-color: #CDD4F8;
    }
    .feature-box:nth-child(4) h6{
      background-color: #A28FDA;
    }
    .feature-box:nth-child(5) h6{
      background-color: #E4A98B;
    }
    .feature-box:nth-child(6) h6{
      background-color: #89D8E1;
    }

    /*Estilo en los productos*/

    #products-featured{
      text-align: center;
    }
    
    .products-container{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
    }

    .products{
      width: 23%;
      min-width: 250px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      border-radius: 25px;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      margin: 15px 0;
      transition: 0.2s ease;
      position: relative;
    }

    .products:hover{
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    .products img{
      width: 100%;
      border-radius: 20px;
    }

    .product-description{
      text-align: start;
      padding: 10px 0;
    }

    .product-description span{
      color: #606063;
      font-size: 12px;
    }

    .product-description h5{
      padding-top: 7px;
      color: #1a1a1a;
      font-size: 14px;
    }

    .product-description h4{
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #284184;
    }

    .products i{
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      color: #284184;
      border: 1px solid  #cce7d0;
      position: absolute;
      bottom: 20px;
      right: 10px;
      cursor: pointer;
    }

    /*Estilo en el SHOP (filtros)*/
  .filter-btns{
      text-align: center;
      padding-top: 15px;
  }
  .filter-btn-singular{
      background: none;
      cursor: pointer;
      border: none;
      font-family: inherit;
      text-transform: uppercase;
      display: inline-block;
      margin: 10px 30px;
      font-size: 16px;
      color: #d3d3d3;
      font-weight: 600;
      letter-spacing: 2px;
      position: relative;
      transition: all 0.2s ease-in-out;
  }
  .filter-btn-singular::after{
      content: "";
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: #555;
      transition: all 0.2s ease-in-out
  }
  .filter-btn-singular:hover{
      color: #555;
  }
  .filter-btn-singular:hover::after{
      width: 100%;
  }
  /* active button */
  .active-btn-singular{
    color: #555;
}
.active-btn-singular::after{
    width: 100%;
}

    /*Estilo en el newsletter*/

    #newsletter{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background-image: url("./images/b14.png");
      background-repeat: no-repeat;
      background-position: 20% 30%;
      background-color: #041e42;
    }

    #newsletter h4{
      font-size: 22px;
      font-weight: 700;
      color: #fff;
    }

    #newsletter p{
      font-size: 14px;
      font-weight: 600;
      color: #818ea0;
    }

    #newsletter p span{
      color: #ffbd27;
    }

    .newsletter-form{
      display: flex;
      width: 40%;
    }

    #newsletter input{
      height: 3.125rem;
      padding: 0 1.25em;
      font-size: 14px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      border-top-right-radius:0 ;
      border-bottom-right-radius: 0 ;
    }

    #newsletter button,
    #form-details form button{
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      color: #fff;
      background-color: #284184;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
      white-space: nowrap;
      border-top-left-radius:0 ;
      border-bottom-left-radius: 0 ;
    }

    /*Estilo en el footer*/ 

    footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    footer .footer-columns{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .footer-logo-container{
      width: 100%;
      margin-bottom: 30px;
    }

    footer h4{
      font-size: 14px;
      padding-bottom:20px;
    }

    footer p{
      font-size: 13px;
      margin: 0 0 8px 0;
    }

    footer a{
      font-size: 13px;
      text-decoration: none;
      color: #222;
      margin-bottom: 10px;
    }

    footer .social-media{
      margin-top: 20px;
    }

    footer .social-media i{
      color: #465b52;
      padding-right: 4px;
      cursor: pointer;
    }

    footer .social-media i:hover,
    footer a:hover {
      color: #284184;
    }

    footer .copyright{
      width: 100%;
      text-align: center;
    }

    /*Estilo en Productos INDIVIDUALES*/
    #product-details{
        display: flex;
        margin-top: 20px;

    }
    .single-product-image{
        width: 40%;
        margin-right: 50px;
    }

    .small-image-group{
        display: flex;
        justify-content: space-between;
    }

    .small-image-column{
        flex-basis: 24%;
        cursor: pointer;
    }

    .single-product-details{
        width: 50%;
        padding-top: 30px;
    }

    .single-product-details h4{
        padding: 40px 0 20px 0;

    }

    .single-product-details h2{
        font-size: 26px;
    }
    
    .single-product-details select{
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    .single-product-details input{
        width: 50px;
        height: 47px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }

    .single-product-details input:focus{
        outline: none;
    }

    .single-product-details button{
        background-color: #041e42;
        color: #fff;
    }

    .single-product-details span{
        line-height: 25px;
    }

    .single-product-details a{
        color: #000;
    }

    /*Contacto*/
    #contact-details{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    #contact-details .details{
      width: 40%;
    }

    #contact-details .details span,
    #form-details form span{
      font-size: 12px;
    }

    #contact-details .details h2,
    #form-details form h2{
      font-size: 26px;
      line-height: 35px;
      padding: 20px 0;
    }

    #contact-details .details h3{
      font-size: 16px;
      padding-bottom: 15px;
    }

    #contact-details .details li{
      list-style: none;
      display: flex;
      padding: 10px 0;
    }
    
    #contact-details .details li i{
      font-size: 14px;
      padding-right: 22px;
    }

    #contact-details .details li p{
      margin: 0;
      font-size: 14px;
    }

    #contact-details .map{
      width: 55%;
      height: 400px;
    }

    #contact-details .map iframe{
      width: 100%;
      height: 100%;
    }

    #form-details{
      display: flex;
      justify-content: space-between;
      margin: 30px;
      padding: 80px;
      border: 1px solid #e1e1ee;
    }

    #form-details form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #form-details form input,
    #form-details form textarea{
      width: 100%;
      padding: 12px 15px;
      outline: none;
      margin-bottom: 20px;
      border: 1px solid #e1e1ee;
    }

    #form-details form button{
      background-color: #041e42;
      color: #fff;
    }

    /*ESTILO EN PAGINA DE CUENTA*/

    .account-page-container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./images/account.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
    
    .container-form {
      width: 90%;
      height: 90vh;
      display: flex;
      justify-content: space-around;
      transition:  all .5s ease-out;
  }
  
  .welcome-back {
      display: flex;
      align-items: center;
      text-align: center;
  }
  
  .message {
      padding: 1rem;
  }
  
  .message h2 {
      font-size: 1.7rem;
      padding: 1rem 0;
      color: #fff;
  }

  .message p{
    color: #fff;
  }
  
  .message button {
      padding: 1rem;
      font-weight: 400;
      background-color: #041e42;
      border-radius: 2rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: .9rem;
      margin-top: 2rem;
      transition: all .3s ease-in;
      color: #fff;
  }
  
  .message button:hover {
      background-color: #041e42;
  }
  
  .form {
      width: 400px;
      padding: 1rem;
      margin: 2rem;
      background-color: rgb(51, 51, 51, 0.602);
      text-align: center;
  }
  
  .create-account {
      padding: 2.7rem 0;
      font-size: 1.7rem;
      color: #fff;
  }
  
  .icons {
      width: 200px;
      display: flex;
      justify-content: space-around;
      margin: auto;
  }
  
  .border-icon {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      border: solid thin white;
      border-radius: 50%;
      font-size: 1.5rem;
      transition: all .3s ease-in;
  }
  
  .border-icon:hover {
      background-color: #041e42;
      cursor: pointer;
  }
  
  .free-account {
      padding: 2rem 0;
      color: #fff;
  }
  
  .form input {
      width: 70%;
      display: block;
      margin: auto;
      margin-bottom: 2rem;
      background-color: transparent;
      border: none;
      border-bottom: white thin solid;
      text-align: center;
      outline: none;
      padding: .2rem 0;
      font-size: .9rem;
      color: white;
  }
  
  .form input[type="button"] {
      width: 60%;
      margin: auto;
      border: solid thin white;
      padding: .7rem;
      border-radius: 2rem;
      background-color: white;
      font-weight: 600;
      margin-top: 3rem;
      font-size: .8rem;
      cursor: pointer;
      color: #222;
  }
  
  .sign-in {
      position: absolute;
      opacity: 0;
      visibility: hidden;
  }
  
  .sign-in.active {
      opacity: 1;
      visibility: visible;
  }
  
  .sign-up.active {
      opacity: 0;
      visibility: hidden;
  }

  /*Media Querys*/  

    @media (max-width:799px){

    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #E3E6f3;
      box-shadow: 0 40px 60px rgba(0, 0 , 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;
    }
    
  #navbar.active{
    right: 0px;
  }

    #navbar li{
      margin-bottom: 25px;
    }

    #navbar-modal{
      display: flex;
      align-items: center;
    }

    #navbar-modal img{
        cursor: pointer;
        padding-right:20px ;
    }

    #navbar-modal i{
      font-size: 24px;
      cursor: pointer;
    }

    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
    }

    .profile-page{
        display: initial;
    }

    #cart{
      display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position:  top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    .feature-box {
        margin: 15px 15px;
    }

    .products-container {
        justify-content: center;
    }

    .products {
        margin: 15px;
    }

    .newsletter-form {
        width: 70%;
    }
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    .header-logo{
        width: 100px;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    .feature-box {
        width: 155px;
        margin: 0  0 15px 0;
    }

    .products {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    .newsletter-form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    /* Productos individuales */

    #product-details{
        display: flex;
        flex-direction: column;
    }

    .single-product-image {
        width: 100%;
        margin-right: 0px;
    }

    .single-product-details {
        width: 100%;
    }

    /*Sobre nosotros*/

    #about-head img{
      width: 100%;
      margin-bottom: 20px;
    }

    #about-head div{
      padding-left: 0px;
    }

    #about-head div h2{
      text-align: center;
    }

    #about-head{
      flex-direction: column;
    }

    /*Contacto*/

    #contact-details{
      flex-direction: column;
    }

    #contact-details .details{
      width: 100%;
      margin-bottom: 30px;
    }

    #contact-details .map{
      width: 100%;

    }
}

.show {
    display: block;
  }

  .cart-empty{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
  }